{% extends 'CarWash_App/master.html' %}

{% block title %}
    Conocenos 
{% endblock %}

{% block content %}
    <p>¡Descubre SantOli Car Wash, desde octubre de 2023, brindamos un autolavado excepcional 
        con boxes de última tecnología y profesionales apasionados. Nos preocupamos por tu auto 
        y el medio ambiente con nuestro sistema de reciclaje de agua. Disfruta de una sala de 
        espera lujosa, valet parking, bar, café y productos de limpieza premium. Llévate un recuerdo
         de tu visita en nuestra tienda de souvenirs. En SantOli, no solo lavamos autos, creamos experiencias 
         inolvidables. ¡Confía en nosotros para el mejor cuidado automotriz! Gracias por elegir SantOli Car Wash."
        
        
        </p>
    

    
{% endblock %}
