{% extends 'CarWash_App/master.html' %}

{% block title %}
    
{% endblock %}

{% block content %}
    <h1 class="display-4 lh-1 mb-4">Bienvenido a CarWash {{ user.username }}</h1>
    <p class="lead mb-5">¡Encuentra el mejor servicio de lavado para tu vehículo!</p>

    {% if user.is_authenticated %}
        
        <p>¡Reserva tu turno ahora!</p>
        <a class="btn btn-primary btn-lg" href="{% url 'hacer_reserva' %}">Reservar Turno</a>
        
    {% else %}
        <p>Para reservar turnos y disfrutar de más funciones, inicia sesión o regístrate.</p>
      
    {% endif %}
{% endblock %}
