{% extends 'CarWash_App/master.html' %}

{% block content %}
   <link rel="stylesheet" type="text/css" 
   <div class="blog-container">
      <h2>Hola, Bienvenido a nuestro Blog</h2>
      {% for publicacion in publicaciones %}
         <div class="blog-post">
            <h3>{{ publicacion.titulo }}</h3>
            <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
            <p>{{ publicacion.contenido }}</p>
            <p>Publicado el: {{ publicacion.fecha_publicacion }}</p>
         </div>
      {% endfor %}
   </div>
{% endblock %}
