{% extends 'CarWash_App/master.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CarWash_App/css/styles.css' %}">
    <div class="blog-container">
        <h2>Hola, Bienvenido a nuestro Blog</h2>
        {% for publicacion in publicaciones %}
            <div class="blog-post">
                <h3>{{ publicacion.titulo }}</h3>
                {% if publicacion.imagen %}
                    <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                {% endif %}
                <p>{{ publicacion.contenido }}</p>
                <p>Publicado el: {{ publicacion.fecha_publicacion }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}