{% extends 'CarWash_App/master.html' %}

{% block title %}
    Iniciar Sesión - CarWash
{% endblock %}

{% block content %}
    <h1 class="display-4 lh-1 mb-4">Iniciar Sesión</h1>
    <p class="lead mb-5">Ingresa tus credenciales para acceder a tu cuenta.</p>

    {% if user.is_authenticated %}
        <p>¡Bienvenido, {{ user.username }}!</p>
        <a class="btn btn-success btn-lg" href="{% url 'editar_perfil' %}">Editar Perfil</a>
        <a class="btn btn-danger btn-lg" href="{% url 'logout' %}">Cerrar Sesión</a>
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
        </form>
        <p class="mt-3">¿No tienes una cuenta? <a href="{% url 'registrar_usuario' %}">Regístrate aquí</a>.</p>
    {% endif %}
{% endblock %}
