{% extends 'CarWash_App/master.html' %}

{% block title %}
    Perfil - CarWash
{% endblock %}

{% block content %}
    <h1 class="display-4 lh-1 mb-4">¡Bienvenido, {{ user.username }}!</h1>
    <p class="lead mb-5">Ya estás listo para disfrutar de nuestros servicios.</p>

    <a class="btn btn-success btn-lg" href="{% url 'editar_perfil' %}">Editar Perfil</a>
    <a class="btn btn-primary btn-lg" href="{% url 'crear_avatar' %}">Crea tu avatar</a>
    <a class="btn btn-primary btn-lg" href="{% url 'editar_avatar' %}">Editar tu avatar</a>
    <a class="btn btn-primary btn-lg" href="{% url 'hacer_reserva' %}">Reservar Turno</a>
    <a class="btn btn-primary" href="{% url 'ver_turnos_reservados' %}">Ver mis turnos reservados</a>

    <a class="btn btn-danger btn-lg" href="{% url 'logout' %}">Cerrar Sesión</a>
{% endblock %}
